{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="mainTopic">
        <h1>
            <b>
                Welcome to Chess Checkmate Challenge!
            </b>
        </h1>

        <h2>
            Here, you will learn three common chess checkmates and how to execute them.
        </h2>
    </div>

    <div class="content">
        <h3>
            To decide whether this is right for you, you should know the following:
        </h3>

        <p>
            1. How to move each chess piece.
        </p>
        <p>
            2. What is check.
        </p>
        <p>
            3. What is checkmate.
        </p>
        <p>
            4. Chess Notation
        </p>

    </div>

    <div  class="button-container">
        <a href="/helper"><button>START</button></a>
    </div>

</div>


{% endblock %}