<!Doctype html>
<html lang="en">
  <head>
    <link href='https://fonts.googleapis.com/css?family=Kumar One' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'main.css') }}">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="icon" href="data:,">

<!-- jquery -->
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>  
  
  <!--STATIC JS FILL OUT-->
  <script type="text/javascript" src="{{ url_for('static', filename = 'checkmate.js') }}"></script>
    <script>

    </script>

  
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">

    <title>Learning how to checkmate</title>
    <style>
        body {
            background-color: #FFF3E8; /* Override Bootstrap's background color */
        }
    </style>
    
  </head>
  <body>
    

    
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/home">Home</a>
    <a class="navbar-brand" href="/helper">Queen & Helper Checkmate</a>
    <a class="navbar-brand" href="/ladder">Ladder Checkmate</a>
    <a class="navbar-brand" href="/smother">Smother Mate</a>
    <a class="navbar-brand" href="/quiz">Quiz</a>
  </div>
</nav>

    <div class="container">   
        {% block content %}
        {% endblock %}
    </div>

  </body>
</html>